* {
  box-sizing: border-box;
}

h2 {
  font-family: Arial;
  color: teal;
  font-size: 40px;
}

body {
  margin: 30px;
}

.container {
  margin: 20px;
  border: 2px solid blue;
  width: 95%;
  height: 550px;
  overflow: auto;
  white-space: nowrap;
  padding: 5px;
}

.movie-title {
  text-transform: capitalize;
  font-weight: bold;
  font-family: Arial;
  color: teal;
  font-size: 18px;
}

figure {
  text-align: center;
  width: 300px;
  height: auto;
  display: inline-block;
}

figcaption {
  text-align: center;
}

img {
  width: 300px;
  height: auto;
}
